<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @registration.student.name %>
</p>

<p>
  <b>Field trip:</b>
  <%= @registration.field_trip.name %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
